.pos .popups .modal-dialog .sh_product_bundle_popup #product_price{width: 35%;font-size: 15px;min-height: 32px;padding: 2px 8px;}
.pos .popups .modal-dialog .sh_product_bundle_popup #product_qty{width: 25%;font-size: 15px;min-height: 32px;padding: 2px 8px;}
.pos .popups .modal-dialog .sh_product_bundle_list_popup .title,.pos .popups .modal-dialog .sh_product_bundle_popup .title{margin-bottom: 0px;}
.pos .popups .modal-dialog .sh_product_bundle_popup .sh_table_div {max-height: 185px;overflow: auto;}
.pos .popups .modal-dialog .sh_product_bundle_popup .sh_table_div table{font-size: 16px;}
.pos .popups .modal-dialog .sh_product_bundle_popup .sh_table_div table .qty_input{min-height: 35px;font-size: 16px;}
.pos .popups .modal-dialog .sh_product_bundle_popup .sh_lbl{font-size: 16px;font-weight: bold;margin-right: 6px;}
.pos .popups .modal-dialog .sh_product_bundle_popup input:focus, .pos .popups .modal-dialog .sh_product_bundle_popup .popup-input.active{box-shadow: 0px 0px 0px 1px $sh_pos_primary_color;}

/* odoo16 */ 
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty thead .head_td,
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty .data_td,
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty .footer_td{padding: 10px;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty .head_td{background: $sh_pos_primary_color;color: #ffffff;font-weight: 600;text-transform: capitalize;font-size: 16px;position: sticky;top: 0;z-index: 1;white-space: nowrap;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty tr:nth-child(odd){background: $sh_odd_row_color;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty tr:nth-child(even){background: $sh_even_row_color;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty tr td.data_td{color: #4A4F59;font-weight: normal;font-size: 16px;word-break: break-word;transition: all .5s;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty tr:hover td.data_td{color: $sh_pos_primary_color;cursor: pointer;font-weight: bold;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body{max-height: 250px;overflow: auto !important;margin: 0px;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty th.footer_td{font-weight: bold;text-transform: capitalize;font-size: 16px;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body::-webkit-scrollbar{width: 0px;height: 0px;}

.pos .pos-content .rightpane .product .sh_product_bundle_icon{font-size: 16px;z-index: 1000; color: #919191; margin: 5px;transition: all .5s;}
.pos .pos-content .rightpane .product .sh_product_bundle_icon:hover,.pos .pos-content .rightpane .product .sh_product_bundle_icon:focus{color: $sh_pos_primary_color;}
.pos .product .product-content .sh_product_bundle_badge{top: 29px;left: -5px;position: absolute;color: #212121;background: #FFFFFF;padding: 1px 4px;width: auto;border: 2px solid $sh_pos_primary_color;font-weight: bold;font-size: 12px;}
.pos .popups .sh_product_bundle_list_popup .sh_table_body .wh_qty .footer_td.text_right_footer{text-align: right;}
.pos .pos-content .leftpane .orderlines .orderline .sh_product_bundle_icon_orderline{margin-right: 5px;transition: all .5s;}
.pos .pos-content .leftpane .orderlines .orderline .sh_product_bundle_icon_orderline:hover{color: $sh_pos_primary_color;}

/* Product Bundle Modal */ 
.pos .popups .sh_product_bundle_popup .sh_qty_price_div{display: flex;align-items: center;padding-top: 10px;}
.pos .popups .sh_product_bundle_popup .sh_product_bundle_body{max-height: 300px;}
.pos .popups .sh_product_bundle_popup #bundle_product_table th.head_td,
.pos .popups .sh_product_bundle_popup #bundle_product_table .data_tr .data_td{padding: 10px;}
.pos .popups .sh_product_bundle_popup #bundle_product_table .data_tr .data_td{font-size: 16px;font-weight: normal;color: #4A4F59;text-transform: capitalize;}
.pos .popups .sh_product_bundle_popup #bundle_product_table .data_tr .data_td .qty_input{min-height: 30px;padding: 0px 8px;font-size: 16px;font-weight: normal;text-align: center;}
.pos .popups .sh_product_bundle_popup #bundle_product_table th.head_td{background: $sh_pos_primary_color;color: #ffffff;font-weight: 600;text-transform: capitalize;font-size: 16px;position: sticky;top: 0;z-index: 1;white-space: nowrap;}
.pos .popups .sh_product_bundle_popup #bundle_product_table .data_tr{transition: all .5s;}
.pos .popups .sh_product_bundle_popup #bundle_product_table .data_tr:hover .data_td{color: $sh_pos_primary_color;cursor: pointer;font-weight: bold;}
.pos .popups .sh_product_bundle_popup .sh_product_bundle_body .sh_bundle_table_div{max-height: 200px;overflow: auto;}
.pos .popups .sh_product_bundle_popup .sh_product_bundle_body .sh_bundle_table_div::-webkit-scrollbar{width: 0px;height: 0px;}

.pos .popups .sh_product_bundle_popup #bundle_product_table tr.data_tr:nth-child(odd){background: $sh_odd_row_color;}
.pos .popups .sh_product_bundle_popup #bundle_product_table tr.data_tr:nth-child(even){background: $sh_even_row_color;}

@media only screen and (max-width: 767.98px){
	.pos .popups .modal-dialog .sh_product_bundle_popup,
	.pos .popups .modal-dialog .sh_product_bundle_list_popup{width: 320px;max-width: 320px;}
	.pos .popups .sh_product_bundle_popup #bundle_product_table .data_tr .data_td .qty_input{padding: 0px 5px;width: 40px;}
}